.interna-pensadores{
    background: url(../images/pensadores-bg.jpg)no-repeat center;
    background-size: cover;
}

.pensadores-item{
    padding-top: 60px;
}

.pensadores-item h2{
    color: #FF693D;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    position: relative;
    top: -180px;
    text-align: center;
    margin-bottom: -56px;
}

.pensadores-item img{
    width: 100%;
    height: 800px;
    border: 3px solid #FF693D;
}
.pensadores-item h2:before,.pensadores-item h2:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FF693D;
    margin: 8px auto;
}

.pensadores-info{
    background-color: #000;
    margin-bottom: 30px;
}

.pensadores-info p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    height: 180px;
    padding: 30px 40px;
}

.pensadores-info ul li{
    background-color: #FF693D;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    float: left;
    height: 49px;
    width: 233px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    margin-left: 2px;
}

.pensadores-info ul li:nth-child(1), .pensadores-info ul li:nth-child(2){
    margin-bottom: 2px;
}
